*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

::-moz-selection {
  color: #fff;
  background: #d6b161;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #d6b161;
  text-shadow: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: inherit;
}

a:focus {
  color: #fff !important;
}

.section {
  padding: 3.5rem 0;
  background-color: whitesmoke;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

i {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.heading-desc {
  text-align: center;
  margin: 2rem 0 2.5rem;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.wrapper {
  margin-top: 3rem;
}

.ml-auto {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .ml-auto {
    margin-left: unset;
  }
}

.order--1 {
  -webkit-box-ordinal-group: unset;
      -ms-flex-order: unset;
          order: unset;
}

@media screen and (max-width: 768px) {
  .order--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.order--2 {
  -webkit-box-ordinal-group: unset;
      -ms-flex-order: unset;
          order: unset;
}

@media screen and (max-width: 768px) {
  .order--2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.order--3 {
  -webkit-box-ordinal-group: unset;
      -ms-flex-order: unset;
          order: unset;
}

@media screen and (max-width: 1200px) {
  .order--3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 2%;
}

.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #2198dc;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
  background-color: #f5f5f5;
}

.owl-carousel.owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel.owl-theme .owl-nav .owl-next,
.owl-carousel.owl-theme .owl-nav .owl-prev {
  position: absolute;
  font-size: 40px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem !important;
  background-color: #f5f5f5;
}

.owl-carousel.owl-theme .owl-nav .owl-next:hover,
.owl-carousel.owl-theme .owl-nav .owl-prev:hover {
  color: #2198dc;
}

.owl-carousel.owl-theme .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel.owl-theme .owl-nav .owl-next {
  right: 0;
}

#pills-tab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  #pills-tab {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

#pills-tab .nav-item {
  position: relative;
  border: none;
  background: unset;
}

@media screen and (max-width: 768px) {
  #pills-tab .nav-item {
    white-space: nowrap;
  }
}

#pills-tab .nav-item .nav-link {
  background-color: unset;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 768px) {
  #pills-tab .nav-item .nav-link {
    font-size: 14px;
    font-weight: 600;
  }
}

#pills-tab .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #007cc3;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pills-tab .nav-item .nav-link:hover {
  color: #007cc3;
}

#pills-tab .nav-item .nav-link.active {
  color: #007cc3;
}

#pills-tab .nav-item .nav-link.active::after {
  width: 60%;
}

#pills-tabContent .owl-carousel.owl-theme .disabled {
  display: block;
}

#pills-tabContent .owl-carousel.owl-theme .owl-dots {
  right: 0;
  bottom: 2%;
}

.navbar-toggler {
  color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  margin-bottom: 0.5rem;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  background: unset;
  margin: -1rem;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.navbar-toggler-icon:nth-child(2) {
  -webkit-transform: translate(-4px, -8px);
          transform: translate(-4px, -8px);
}

.navbar-toggler p {
  font-size: 12px;
  margin: 0 -0.75rem;
}

.collapse:not(.show) {
  display: block;
}

@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none;
  }
}

.transform45deg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.transform-45deg {
  -webkit-transform: rotate(-45deg) translate(-4px, -4px) !important;
          transform: rotate(-45deg) translate(-4px, -4px) !important;
}

.fadeOut {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navigation {
  background-color: #007cc3;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  z-index: 9999;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-nav {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    margin: 0;
    padding: 1rem;
  }
}

.nav-item {
  padding: 0.35rem 0.85rem;
  position: relative;
  background-position: 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2198dc), color-stop(0, transparent));
  background-image: linear-gradient(180deg, #2198dc 50%, transparent 0);
  background-size: 200% 200%;
}

.nav-item:nth-child(2) {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .nav-item:nth-child(2) {
    border: none;
  }
}

.nav-item:first-child {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .nav-item:first-child {
    border: none;
  }
}

.nav-item:hover {
  background-position: 0  0;
}

.nav-item:hover .nav-link {
  color: #fff;
}

.nav-link {
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-link {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
  }
  .nav-link:hover {
    color: #007cc3;
  }
}

@media screen and (max-width: 992px) {
  #header_navbar {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}

.showroom {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.showroom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  width: 100%;
  z-index: 101;
  overflow: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .showroom__nav {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.showroom__nav-item:hover a {
  color: #007cc3;
}

.showroom__nav-item a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .showroom__nav-item a {
    font-size: 12px;
  }
}

.showroom__nav-item .active {
  color: #007cc3;
}

.showroom-list {
  background-color: #f6f6f6;
}

.showroom-item-type {
  display: block;
  padding: 0.5rem 2.5rem 0;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.showroom-item-type:hover {
  opacity: 0.5;
}

.showroom-vehicles {
  padding: 0.5rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 992px) {
  .showroom-vehicles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .showroom-vehicles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .showroom-vehicles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.showroom-vehicles .card {
  padding: 1rem;
}

.showroom-vehicles .card-body {
  text-align: left;
}

.showroom-vehicles .card-title {
  font-weight: 700;
  margin: 0.5rem 0;
}

.showroom-vehicles .card-text {
  font-size: 0.5rem;
  font-weight: 400;
  color: #000;
}

.showroom-vehicles .card-text span {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-right: 1rem;
}

.showroom-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showroom-actions .btn-main {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 0.35rem 1.5rem;
  margin-top: 1rem;
}

.showroom-close {
  position: fixed;
  right: 10%;
  top: 7%;
  width: 30px;
  height: 30px;
  border: 1px solid #007cc3;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
}

.showroom-close i {
  -webkit-animation: scale 2s infinite ease-in;
          animation: scale 2s infinite ease-in;
  font-size: 24px;
  color: #007cc3;
}

.slideIn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.hero-carousel {
  display: block;
}

.hero-info {
  width: 100%;
}

.hero-desc {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .hero-desc {
    font-size: 18px;
  }
}

.hero-img {
  width: 100%;
}

.hero-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.intro {
  height: 100%;
}

.intro-item {
  margin-top: 2.5rem;
  height: 350px;
  position: relative;
}

.intro-first {
  background: url(../img/Background.webp) center/cover no-repeat;
}

.intro-first-item-1 {
  background: url(../img/intro/MY23-Journey-FC-non-VLP-T3-1400-2x.webp) center/cover no-repeat;
}

.intro-first-item-2 {
  background: url(../img/intro/MY24-Prologue-FC-U1-non-VLP-T3-1400-2x-A.webp) center/cover no-repeat;
}

.intro-second-item-1 {
  background: url(../img/intro/2020-CPO-homepage-T3-1400-2x.webp) center/cover no-repeat;
}

.intro-second-item-2 {
  background: url(../img/intro/howtovideos-1400-2x.jpeg) center/cover no-repeat;
}

.intro-second-item-2 .intro-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -24%);
          transform: translate(-50%, -24%);
  font-size: 11px;
  font-weight: 700;
  color: #fff;
}

.intro-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.vehicles-carousel {
  position: relative;
}

.vehicles-carousel .vehicle {
  background: center/ cover no-repeat;
  height: 630px;
}

.vehicles-carousel .vehicle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vehicles-carousel .vehicle-order {
  position: absolute;
  top: 6%;
  left: 7%;
  font-weight: bold;
}

.vehicles-carousel .vehicle-info {
  position: absolute;
  top: 45%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70%;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-info {
    text-align: center;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

.vehicles-carousel .vehicle-brand {
  width: 100%;
  margin: 0 auto;
}

.vehicles-carousel .vehicle-brand svg {
  width: 35%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-brand {
    width: 100%;
    margin-bottom: 1rem;
  }
  .vehicles-carousel .vehicle-brand svg {
    width: 70%;
  }
}

.vehicles-carousel .vehicle-desc {
  margin: 2rem 0 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  padding-bottom: 1.25rem;
  width: 40%;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-desc {
    display: none;
  }
}

.vehicles-carousel .vehicle-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-stats {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.vehicles-carousel .vehicle-price, .vehicles-carousel .vehicle-cty {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-price, .vehicles-carousel .vehicle-cty {
    font-size: 24px;
  }
}

.vehicles-carousel .vehicle-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.vehicles-carousel .vehicle-more .btn-main {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.vehicles-carousel .vehicle-relative {
  position: absolute;
  bottom: 2%;
  left: 5%;
  left: 0;
  text-transform: uppercase;
  width: 40%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2rem 0 2rem 5%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.vehicles-carousel .vehicle-relative-img {
  position: absolute;
  top: 0.5rem;
  width: 100%;
  height: 80px;
  background: url(../img/Vehicles/accord-family-vehicles-2x.webp) 100% 0/contain no-repeat;
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle-relative {
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 2rem 0;
    border: none;
  }
  .vehicles-carousel .vehicle-relative-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .vehicles-carousel .vehicle {
    height: 600px;
  }
  .vehicles-carousel .vehicle-order {
    display: none;
  }
}

.tools {
  background-color: whitesmoke;
}

.tools .tool {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem 1.5rem 1rem;
}

.tools .tool-icon {
  text-align: center;
  font-size: 4rem;
}

.tools .tool-function {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin: 1rem 0;
}

.tools .tool:hover .tool-btn {
  background-color: #fff;
  color: #007cc3;
  border: 1px solid #007cc3;
}

.contact {
  width: 100%;
}

.contact .logo {
  margin: 0 auto;
  width: 95%;
  padding: 0.5rem;
  height: 100px;
  border-top: 2px solid #007cc3;
  position: relative;
}

.contact .logo-honda {
  text-align: center;
  width: 100%;
}

.contact .logo .hondaSVG {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 90px;
}

.contact-content {
  width: 95%;
  margin: 1rem auto 0;
  padding: 1.25rem 0;
  border-top: 1px solid rgba(0, 67, 108, 0.8);
  border-bottom: 1px solid rgba(0, 67, 108, 0.8);
}

.contact-content .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-content {
    padding: 0.75rem 0;
  }
}

.contact-item {
  height: 100%;
}

.contact-heading {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.contact-socials {
  margin-top: 0.75rem;
}

.contact-socials-item {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .contact-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
  }
}

.contact-search {
  position: relative;
}

.contact-search i {
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  color: #007cc3;
}

@media screen and (max-width: 1200px) {
  .contact-search i {
    left: 2.5%;
  }
}

.contact-search__input {
  outline: none;
  border: 0;
  border-radius: 2rem;
  color: #007cc3;
  font-size: 14px;
  letter-spacing: 0;
  height: 2.5rem;
  margin-top: 0.75rem;
  padding: 12px 0 9px 45px;
  width: 100%;
}

.contact-search__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #007cc3;
}

.contact-search__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #007cc3;
}

.contact-search__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #007cc3;
}

.contact-search__input::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #007cc3;
}

.contact-search__input:focus {
  border: 1px solid #007cc3;
}

.contact-informed {
  text-align: right;
}

.contact-informed__btn.btn-main {
  font-size: 14px;
  margin: 0.75rem 0 0 auto;
  padding: 0.35rem 1rem;
}

@media screen and (max-width: 768px) {
  .contact-informed {
    margin-top: 2rem;
    text-align: center;
  }
  .contact-informed__btn.btn-main {
    margin: 0.5rem auto 0;
  }
}

.links .links-content {
  width: 95%;
  margin: -3.5rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links .links-content .link-heading {
  font-size: 14px;
  font-weight: 700;
  color: #00446b;
  line-height: 1.4em;
}

.links .links-content .link-heading i {
  position: absolute;
  right: 8%;
  width: 20px;
  font-size: 12px;
  height: 20px;
  color: #007cc3;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid #2198dc;
  text-align: center;
}

.links .links-content .link-item a {
  font-size: 14px;
  font-weight: 400;
  color: #00446b;
  line-height: 1.5;
  text-transform: capitalize;
}

.links .links-content .link-item a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .links .links-content {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .links .links-content .link {
    border-bottom: 1px solid #615b5b;
  }
}

.footer {
  padding: 2rem;
  background-color: #007cc0;
  color: #fff;
}

.footer-content {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-policy-link {
  padding: 0.25rem;
  text-transform: capitalize;
}

.footer-policy-link a {
  font-weight: 400;
}

.footer-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
}

.footer-brand svg {
  width: 110px;
  height: 90px;
  fill: #fff;
}

@media screen and (max-width: 992px) {
  .footer-content {
    font-size: 14px;
  }
  .footer-policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-brands {
    gap: 1rem;
  }
  .footer-brand svg {
    width: 80px;
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    font-size: 12px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-brands {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5rem 0;
  }
  .footer-brand {
    display: none;
  }
  .footer-brand:first-child {
    display: block;
  }
}

.btn-main {
  display: block;
  margin: 0 auto;
  padding: 0.35rem 2.25rem;
  margin-top: 1.25rem;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #007cc3;
  border-radius: 1.5rem;
  border: 1px solid #007cc3;
  outline: none;
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: #fff;
  color: #007cc3;
}

.btn-CTA--red {
  color: #fff;
  background-color: #ff4040;
  border: 1px solid #fff;
}

.btn-CTA--red:hover {
  color: #ff4040;
  background-color: #fff;
  border-color: #fff;
}

.btn-CTA--white {
  color: #ff4040;
  background-color: #fff;
  border: 1px solid #ff4040;
}

.btn-CTA--white:hover {
  color: #fff;
  background-color: #ff4040;
  border-color: #ff4040;
}

.btn-CTA--blueblack {
  color: #fff;
  background-color: #2198dc;
  border: 1px solid #fff;
}

.btn-CTA--blueblack:hover {
  color: #2198dc;
  background-color: #fff;
  border-color: #fff;
}

.btn-CTA--blueblack:hover {
  color: #2198dc;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: currentColor;
}

.btn-CTA--bluewhite {
  color: #fff;
  background-color: #2198dc;
  border: 1px solid #fff;
}

.btn-CTA--bluewhite:hover {
  color: #2198dc;
  background-color: #fff;
  border-color: #fff;
}

.btn-CTA--bluewhite:hover {
  border-color: currentColor;
  border-width: 2px;
}

.btn-CTA--redwhite {
  padding: 0.35rem 1.75rem;
  color: #fff;
  background-color: #e42525;
  border: 1px solid #fff;
}

.btn-CTA--redwhite:hover {
  color: #e42525;
  background-color: #fff;
  border-color: #fff;
}

.btn-CTA--redwhite:hover {
  border-color: currentColor;
}

.card {
  margin-bottom: 2rem;
}

.card-body {
  margin-top: 0.5rem;
  text-align: justify;
  padding: 0 1.5rem 2rem;
}

.card-title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 1rem 0;
  text-align: center;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

@media screen and (min-width: 993px) {
  .discover-card .card-title {
    min-height: 3rem;
  }
  .discover-card .card-text {
    padding: 1rem;
    min-height: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */