.footer{
    padding: 2rem;
    background-color: #007cc0;
    color: $white ;
    &-content{
        @include styleText($fz-14, 400 , $white);
        line-height: 1.6;
        a:hover{
            text-decoration: underline;
        }
    }
    &-policy{
        display: flex;
        gap: 0.25rem;
        flex-wrap: wrap;
        justify-content: flex-end;
        &-link{
            padding: 0.25rem;
            text-transform: capitalize;
            a{
                font-weight: 400;
                

            }
        }
    }
    &-brands{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.5rem 0 ;

    }
    &-brand{
        &:active{
            border: 2px solid $blue-100;
        }
        svg{
            width: 110px;
            height: 90px;
            fill: $white;
        }
    }

}