

.hero {

  &-carousel{
    display: block;
}
  &-info{
    width: 100%;

    
}
&-desc{
    text-align: center;
    @include styleText($fz-20 + 4 ,700 ,$white);
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 50%;
   transform: translate(-50%,-50%);
    @include responsive("medium"){
      font-size: $fz-18;
    } 

}

&-img{
    width: 100%;
    
    img{
        // width: 100%;
        display: block;
        object-fit: cover;
        height: 500px;
      

    }
    @include responsive("large"){
      img{
        // height: 450px;
        // object-fit: unset;
      }
    }
}

}

