

.hero {

  &-carousel{
    display: block;
    // position: absolute;
    // top: 58px;
}
  &-info{
    width: 100%;

    
}
&-desc{
      text-align: center;
    @include styleText($fz-20 + 4 ,700 ,$white);
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%,-50%);
        

}

&-img{
    width: 100%;
    // min-height: 500px;
    img{
        width: 100%;
        display: block;
        object-fit: cover;
        height: 500px;
        // transform: scale(1.25);

    }
}
}

