.showroom {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    transform: translateY(-120%);
    bottom: 0;
    z-index: 100;
    overflow-y: scroll;
    transition: all 0.35s ease-in-out;
    background-color:  rgba($color: (#000), $alpha: 0.5);
    &-overlay{
        padding: 0 3rem;
    }
    &__nav{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 1.5rem;
        background-color: $white;
        width: 100%;
        z-index: 101;
        overflow: auto;
        flex-wrap: nowrap;
       @include responsive("medium"){
        justify-content: unset;

       }
  }
    &__nav-item{
        
        &:hover a{
            color: $blue-100;
        }

        a{
            @include styleText($fz-14 , 700 , $black);
            white-space: nowrap;
            @include responsive("medium"){
                font-size: $fz-12 ;
               
            }
        }
        .active{
            color: $blue-100;
        }
        
  }
    &-list{
        background-color: #f6f6f6;
  }
    &-item-type{
        display: block;
        padding: 0.5rem 2.5rem 0;
        @include styleText($fz-14, $fw-bold , $black);
        &:hover{
            opacity: 0.5;
        }
  }
    &-vehicles{
        padding: 0.5rem 2rem;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(5 ,1fr);
        @include responsive("large"){
            grid-template-columns: repeat(2 , 1fr);
        }
        @include responsive("medium"){
            grid-template-columns: repeat(2 , 1fr);
        }
        @include responsive("small"){
            grid-template-columns:  repeat(1 ,1fr)
        }
        gap: 1rem;
        .card{
            padding: 1rem;
        }
        .card-body{
            text-align: left;
        }
        .card-title{
            font-weight: 700;
            margin: 0.5rem 0 ; 
        }
        .card-text{

            span{
                @include styleText($fz-14 , $fw-bold , $black);
                margin-right: 1rem;
            }
            @include styleText(0.5rem, $fw-regular , $black);
        }
  }
    &-actions{
        display: flex;
        justify-content: center;
        .btn-main{
            @include styleText($fz-12 , $fw-bold ,$white);
            padding: 0.35rem 1.5rem;
            margin-top: 1rem;
        }
    
  }
  &-close{
    background-color: white;
    position: fixed;
    right: 0%;
    top: 7%;
    width: 48px;
    height: 40px;
    border: 1px solid #007cc3;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    z-index: 10000;
    i{
        animation: scale 2s infinite ease-in;
        font-size: $fz-subheading;
        color: $blue-100;
    }
  }
  }
  .slideIn{
    transform: translateY(0);
}
@keyframes scale {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
    
}