
.vehicles-carousel{
    position: relative;
    .vehicle{
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
        background:  center/ cover no-repeat;
        height: 630px;
      
        &-order{
            position: absolute;
            top: 6%;
            left: 7%;
            font-weight: bold;
        }
          &-info{
            position: absolute;
            top: 45%;
            left: 5%;
            transform: translateY(-50%);
            width: 70%;
            padding: 2rem;
            @include responsive("medium"){
              text-align: center;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
            }
        }
          &-brand{
            width: 100%;
            margin: 0 auto;
            svg{
                width: 35%;
                height: 100%;
            }
            @include responsive("medium"){
              width: 100%;
              margin-bottom: 1rem;
              svg{
                width: 70%;
              }
            }
        }
          &-desc{
            margin: 2rem 0 1rem;
            @include styleText($fz-14, 400 ,$white);
            line-height: 1.6;
            padding-bottom: 1.25rem ;
            width: 40%;
            text-align: justify;
            @include responsive("medium"){
              display: none;
            }
        }
          &-stats{
            display: flex;
            gap: 1.25rem;
            @include styleText($fz-14, 400 ,$white);
            @include responsive("medium"){
              font-size: $fz-16;
              width: 80%;
              margin: 0 auto;
              font-weight: 700;
              justify-content: space-between;
            }
        }
        
        &-price,
        &-cty{
              @include styleText($fz-huge , 300 , $white);
              @include responsive("medium"){
               font-size: $fz-subheading;
              }
            
        }
          &-more{
            display: flex;
            gap: 0.5rem;
            margin: 1rem 0;
            .btn-main{
                margin: 0;
                
            }
            @include responsive("medium"){
              justify-content: center;
            }
        }
        &-relative{
            position: absolute;
            bottom: 2%;
            left: 5%;
            left: 0;
            text-transform: uppercase;
            width: 40%;
            border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
            padding: 2rem 0 2rem 5%;
            @include styleText($fz-16, 700 , $white);
            &-img{
                position: absolute;
                top: 0.5rem;
                // left: -1rem;
                // left: 4rem;
                width: 100%;
                height: 80px;
               background: url(../img/Vehicles/accord-family-vehicles-2x.webp) 100% 0/contain no-repeat;
            //    background-position: ;  
            }
            @include responsive("medium"){
              width: 100%;
              text-align: center;
              font-size: $fz-14;
              display: block;
              margin: 2rem 0 ;
              &-img{
                display: none;
              }
              border: none;
            }
        }
        @include responsive("medium"){
          height: 600px;
          &-order{
           display: none;
          }
        }  
    }
}