.heading {
    text-align: center;
    @include styleText($fz-big , $fw-regular , $black);

    &-desc {
        text-align: center;
        margin: 2rem 0 2.5rem;
        @include styleText($fz-16 , $fw-regular , $black)
    }
}
.wrapper{
    margin-top: 3rem;
}
.ml-auto{
    margin-left: auto;
    @include responsive("medium"){
        margin-left: unset;
    }
}
.order--1{
    order: unset;
    @include responsive("medium"){
        order: 1;
    }
}
.order--2{
    order: unset;
    @include responsive("medium"){
        order: 2;
    }
}
.order--3{
    order: unset;
    @include responsive("extra-large"){
        order: 3;
    }
}
.owl-carousel.owl-theme {
    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 2%;

        .owl-dot.active {
            span {

                background-color: $blue-200;
            }
        }

        .owl-dot {
            span {
                background-color: $grey;

            }
        }

    }

    .owl-nav {
        margin-top: 0;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        transform: translateY(-50%);

        .owl-next,
        .owl-prev {
            position: absolute;
            font-size: $fz-big;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem !important;
            background-color: $grey;

            &:hover {
                color: $blue-200;
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }
    }
}


// .col-2-4{
//     width: 20%;
// }
#pills-tab {
    justify-content: center;
    align-items: center;
    margin: 1rem ;
    flex-wrap: nowrap;
    overflow: auto;

    gap: 1rem;
    @include responsive("medium"){
        justify-content: unset;
        // gap: 1.5rem;
    }
    .nav-item {
        // width: auto;
        // height: auto;
        position: relative;
        border: none;
        background: unset;
       @include responsive("medium"){
        // margin: 0 1rem;
        white-space: nowrap;
       
       }

        .nav-link {
            background-color: unset;
            text-transform: uppercase;
            @include styleText($fz-14 , 700, $black );
            @include responsive("medium"){
                font-size: $fz-14 ;
                font-weight: 600;
                // padding: 0;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 3px;
                background-color: $blue-100 ;
                display: block;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                color: $blue-100;
                // opaciy: 1;
            }
        }
        .nav-link.active{
            color: $blue-100;
            &::after{
                width: 60%;
                // margin: 0 auto
            }
        }
    }

   
}
#pills-tabContent{
    .owl-carousel.owl-theme{
        .disabled{
            display: block;
        }
        .owl-dots{
            right: 0;
            bottom: 2%;
        }
    }
}



.navbar-toggler{
    color: $white;
    width: 40px;
    height: 40px;
    // border: 1px solid $blue-200;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    margin-bottom:  0.5rem;
    &:focus{
        // border: 1px solid $white;
        box-shadow: none;
    }

    &-icon{
        background: unset;
        margin: -1rem;
        height: 3px;
        background-color: $white;
        position: relative;
    }
    &-icon:nth-child(2){
        transform: translate(-4px,-8px);
    }
    p{
        font-size: $fz-12;
        margin: 0 -0.75rem;
    }
}
 .collapse:not(.show){
    display: block;
    @include responsive("large"){
        display: none;
    }
} 
.transform45deg{
    transform: rotate(45deg);
}
.transform-45deg{
    transform:  rotate(-45deg) translate(-4px , -4px) !important;
}
.fadeOut{
    opacity: 0;
    transform: translateY(-10px);     
}