@mixin styleText($size, $weight , $color){
      font-size:  $size;
      font-weight: $weight;
      color: $color;  
}
@mixin styleButton($color  ,$backColor  ){
      color: $color;
      background-color: $backColor;
      border: 1px solid $color;
      &:hover{
            color: $backColor;
            background-color: $color;
            border-color: $color;
      }
}
@mixin responsive($breakpoint){
      @if map-has-key($map: $breakpoints , $key: $breakpoint ){
          $value : map-get($map: $breakpoints , $key: $breakpoint ); 
          @media screen and (max-width: $value) {
              @content
          }
      }
      @else{
          @warn "`{$breakpoints}` isn't in breakpoints "
      }
  }